// Import patternfly.less and patternfly-additions.less
@import "patternfly/dist/less/patternfly";
@import "patternfly/dist/less/patternfly-additions";

// Import patternfly variables due to the -additions separation
@import "patternfly/dist/less/variables";

// Change the path of fonts and images to be relative to your project
@font-path: "../node_modules/patternfly/dist/fonts";
@img-path: "../node_modules/patternfly/dist/img";

// Put your styles here
/* Composer */
.navbar-brand {line-height: @navbar-pf-vertical-navbar-brand-min-height;} /* without an icon in the masthead, the logo sits too high relative to other elements */
[data-toggle] {cursor: pointer;}

/* This is added for the export dialog so that the contents have higher contrast */
textarea.form-control[readonly] {
  background-color: inherit;
  color: inherit;
}

/* Recipe Edit page header */
.cmpsr-header__actions {
  padding: @breadcrumb-padding-vertical 0 @breadcrumb-padding-vertical @breadcrumb-padding-horizontal
}
.cmpsr-header__title {
  display: flex;
  align-items: baseline;
  margin-top: @line-height-computed;
}
.cmpsr-header__title__item {
   margin-right: 10px;
   margin-top: 0;
 }


.layout-pf.layout-pf-fixed body{
  padding-top: 0;
}
 // grid
 // -----------------------------------------------
 // this can be broken up but wanted to seperate this for demoing purposes to show what the grid is doing.

 .cmpsr-grid__wrapper{
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-rows: auto auto 1fr;
   grid-template-areas:
    "breadcrumb actions"
    "pageTitle pageTitle"
    "inputs edit"
   ;
   height: 100vh;
   overflow: hidden;
   padding-top: 60px;
   .panel{
    padding: 0;
     border: none;
     box-shadow: none;
     margin-bottom:0;
     min-height: min-content;
     overflow: auto;
     position: relative;
  }
   .panel-body{
     min-height: min-content;
     overflow: auto;

   }
   .panel-heading{
     position: sticky;
   }
 }
.cmpsr-header__actions{
  grid-area: actions;
  justify-self: end;
}
.breadcrumb{
  grid-area: breadcrumb;
}
.cmpsr-header__title{
  grid-area: pageTitle;
}

.cmpsr-recipe__inputs{
  grid-area: inputs;
  grid-row: 3;
}
.cmpsr-recipe--edit{
  grid-area: edit;
  position: relative;

}

/* pagination */

.toolbar-pf-results .content-view-pf-pagination {
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: transparent;
  border: none;
  justify-content: flex-end;
  align-items: baseline;
}
.toolbar-pf-results .pagination {
  align-self: center;
}

.toolbar-pf-results .pagination-pf-page,
.toolbar-pf-results .pagination.pagination-pf-forward {
  margin-left: 5px;
}

/* sidebar */
// If we use the grid, then we might be able to eliminate a lot of this, since
// the only reason I think it's here is to deal with the fact that a background
// color is applied to the sidebar.
.sidebar-pf .toolbar-pf-actions .toolbar-pf-filter {width:auto;}
.sidebar-pf {

    .toolbar-pf{
      margin: 0 -20px;
      padding-top: 14px;
    }

    .panel-heading{
      padding:10px 15px;
    }
    .panel-title{
      font-size: 14px;
    }
    .panel-body{
      padding:0 20px;
    }
}//.sidebar-pf

// .cmpsr-recipe-inputs .toolbar-pf-results h5,
// .cmpsr-recipe-inputs .toolbar-pf-results p,
// .cmpsr-recipe-inputs .toolbar-pf-results ul {
//   line-height: (@grid-gutter-width/1.5);
// }
// Spacing is weird for filters in the inputs panel but it's also weird in the
// other panel when contents don't fit, so just commenting this out for now.

/*sidebar list view*/
.cmpsr-recipe__inputs{
  border-right: 1px solid @color-pf-black-300;
}
.cmpsr-recipe__inputs .list-pf {
  margin-top: @line-height-computed;
  // value for original list view is margin-top: 30px; Should we use that here?
}
.cmpsr-recipe__inputs .alert {
  // margin-top: @line-height-computed; //this is the value applied to margin-bottom for bs alerts
  // But should we do something like this where we take the margin-top of the list / 2
  // and shift it down, so that it doesn't take up that much extra space
  position: relative;
  top: calc(@line-height-computed / 2);
}

/*List View*/
.blank-slate-pf {margin-top:30px;}

/* Expanded list item contents (i.e. component summary) */
.list-pf-container .list-pf {
   max-height: 300px;
   overflow: auto;
 }

 .list-pf-container dd {
   overflow: hidden;
   text-overflow: ellipsis;
 }

/* Recipe contents */

.cmpsr-recipe__edit{

  .panel-heading{
    margin-bottom: -10px;
  }
  .panel-body{
    padding:15px 20px;
  }
}

.cmpsr-recipe__list {
  .list-pf-main-content {
    flex-basis: initial;
  }
  .list-pf-additional-content {
      flex-basis: initial;
      flex-shrink: 0;
      justify-content: flex-end;
  }
}

/*Component details*/
.cmpsr-recipe__details .close {float:none;}
.cmpsr-recipe__details .form-horizontal {
  margin: 15px 0;
}
.cmpsr-recipe__details .blank-slate-pf {
  margin-top: 0;
  padding: 0;
} // TODO: replace .blank-slate-pf with custom styles, since this isn't really a blank slate

.cmpsr-recipe__details--edit {
  border-top: 1px solid @color-pf-black-300;
}
.cmpsr-recipe__details--view {
  padding: 10px 35px;
}

/* Recipe details page */
// .list-group-item__separator is used on the Revisions tab
.list-view-pf .list-group-item__separator, .list-view-pf .list-group-item__separator:hover {
  background-color: #f7f7f7;
}
.list-view-pf .list-group-item__separator .list-view-pf-main-info {
  padding-top: 0;
  padding-bottom: 0;
}

/* compacted list view */
// used in sidebar and expanded list items
.cmpsr-list-pf__compacted {
    margin-bottom:20px;
    .list-pf-item{
      background: @color-pf-white;
      &:hover{
        background:@color-pf-black-150;
      }
    }
    .list-pf-container{
      padding:10px;
      .list-pf-container & {
        border-top-width: 0; // needed for when list is displayed in expanded list item (is this a bug with PF css?)
      }
    }
}

.list-pf-icon-bordered-dotted{
  border-style: dotted;
}
